<div class="container-fluid" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Horizonte del Lector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['user']" (click)="navegarLogico('user')">
            <ng-container *ngIf="userImage$ | async as userImage; else defaultIcon">
              <img [src]="userImage" alt="User Image" class="rounded-circle" width="30" height="30">
            </ng-container>
            <ng-template #defaultIcon>
              <i class="fas fa-user"></i>
            </ng-template>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" (click)="navegarLogico('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['libcrear']" (click)="navegarLogico('libcrear')">Crea tu Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['foro']" (click)="navegarLogico('foro')">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['favoritos']" (click)="navegarLogico('favoritos')">Libros Favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['almacen']" (click)="navegarLogico('almacen')">Almacen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contacto']" (click)="navegarLogico('contacto')">Contactanos</a>
        </li>
      </ul>
      <div class="d-flex">
        <button *ngIf="(isLoggedIn() | async)" class="btn btn-outline-danger me-2" (click)="logout()">Cerrar sesión</button>
        <button *ngIf="!(isLoggedIn() | async)" class="btn btn-outline-success me-2" [routerLink]="['/login']">Iniciar sesión</button>
        <button *ngIf="!(isLoggedIn() | async)" class="btn btn-outline-primary" [routerLink]="['/register']">Crear cuenta</button>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-lg-11">
      <!-- Aquí puedes poner contenido adicional si es necesario -->
    </div>
  </div>
</div>