<div class="container mt-5">
    <!-- Buscador de libros -->
    <div class="row mb-3">
      <div class="col-md-6">
        <input placeholder="Buscar por título" class="form-control" [(ngModel)]="searchTitle" />
      </div>
      <div class="col-md-6">
        <select class="form-select" [(ngModel)]="selectedGenre" (change)="filterBooksByGenre()">
          <option value="all">Todos los géneros</option>
          <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
        </select>
      </div>
    </div>
  
    <!-- Libros que te pueden interesar -->
    <h3>Libros que te pueden interesar</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let book of randomBooks">
        <!-- Aquí iría la tarjeta del libro -->
      </div>
    </div>
  
    <!-- Libros ordenados -->
    <h3>Libros</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let book of filteredBooks">
        <!-- Aquí iría la tarjeta del libro -->
      </div>
    </div>
  </div>
  