<html style="background-color: rgb(177, 177, 177);">
<div class="container">
  <h2>Inicio de usuario</h2>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="button-container">
      <button class="btn btn-primary" type="submit">Entra con Gmail</button>
      <button class="btn btn-google" type="button" (click)="loginWithGoogle()">Entra con Google</button>
      <button class="btn btn-register" [routerLink]="['/register']">Crea tu cuenta</button>
    </div>
  </form>
</div>  
</html>

