/* General Styles */
body,html {
  font-family: 'Times New Roman', Times, serif;

  background: linear-gradient(to bottom, #c5c6c7, #cdffd5); /* Sky blue with a touch of yellow */
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #0056b3; /* Strong blue color */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Card Styles */
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
  }
  
  .card-body {
    padding: 15px;
    background-color: white;
  }
  
  .card-title {
    font-size: 1.2em;
    color: #333;
    margin: 0;
  }
  
  .card-text {
    color: #666;
    font-size: 0.9em;
  }
  
  /* Button Styles */
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .btn-primary {
    background-color: #007bff; /* Primary blue */
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Strong blue */
  }
  