<div class="container">
    <div class="row">
        <div class="col"></div>


        <div class="col">
            <div class="card mt-4 text-bg-dark mb-4">
                <div class="card-header">Agregar mensaje</div>
                <div class="card-body"><textarea name="" id="" cols="150" rows="4" class="form-control"></textarea>
                </div>
                <div class="card-footer"><button class="btn btn-success float-end">Enviar</button></div>
            </div>
        </div>
        <!-- <div class="card-footer"><button class="btn btn-outline-success float-end">Enviar</button></div> -->

        
        <div class="col"></div>

    </div>


    <div class="row">
        <table class="table table-striped mb-5">
            <thead class="myThead"> 
                <tr> 
                    <td>Id</td>
                    <td>Mensaje</td>
                    <td>Usuario</td>
                    <td>📅 Fecha</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima rem illum non quis
                        iure veritatis? Ratione vero distinctio, nam error ad voluptatum ut beatae. Illum cumque amet
                        non eius?</td>
                    <td>Jose
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-info mb-2"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima rem illum non quis
                        iure veritatis? Ratione vero distinctio, nam error ad voluptatum ut beatae. Illum cumque amet
                        non eius?</td>
                    <td>Juan
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-info mb-2"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima rem illum non quis
                        iure veritatis? Ratione vero distinctio, nam error ad voluptatum ut beatae. Illum cumque amet
                        non eius?</td>
                    <td>Pedro
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-info mb-2"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>